/* ///////////////////////////////////////////// */
/* Header Desktop */
/* ///////////////////////////////////////////// */
.header {
    line-height: 60px;
    background: rgba(30, 30, 30, 0.95);
}

/* ///////////////////////////////////////////// */
/* Burger Menu */
/* ///////////////////////////////////////////// */
.burgernav {
    background: rgba(30, 30, 30, 0.95);
}

/* ///////////////////////////////////////////// */
/* Slider */
/* ///////////////////////////////////////////// */
.section .slider{
    background-image: url("../images/filetransferblue.jpg");
    height:600px;
}

/* ///////////////////////////////////////////// */
/* Columns */
/* ///////////////////////////////////////////// */
.col .servicetext{
    height: 60px;
    color: #027889;
}

.col.three {
    width: 29%;
    height:550px;
    margin: 1% 1%;
    padding: 1%;
    margin-bottom:70px;
    background: white;
}

.col.three p{
    margin:2%;
}

.col.two {
    height:300px;
    width: 45%;
    margin: 1% 1%;
    padding:1%;
    margin-bottom: 50px;
    background: white;
}

.section.black h2{
    color: white;
}

/* ///////////////////////////////////////////// */
/* Upload Button */
/* ///////////////////////////////////////////// */
buttonupload{
    padding: 9px 25px;
    margin-top: 20px;
    background-color: var(--maincolor);
    border: 3px solid var(--maincolor);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    font-weight: normal;
    font-size:20px;
}

buttonupload:hover{
    transition: all 0.3s ease 0s;
    background-color: transparent;
}

/* ///////////////////////////////////////////// */
/* File Drop Box Modifications */
/* ///////////////////////////////////////////// */
.dropzone{
    min-height: 500px;
}

/* TODO: fix this spelling error */
#dropzoneFrom{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    text-align: center;
    /* border:dashed; */
}

.dropzone .dz-message .dz-button {
    margin-left: 0px;
}

.dropzone .input_field {
    margin-bottom: 10px;
}

form{
    position:center;
    display: inline-block;
    width: 95%;
    text-align: center;
}

.dropzone .input_field input[type="text"],
.dropzone textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

.dropzone .dz-message .dz-button{
    margin-top: 6%;
    font-size: 1.17em;
}

.dashedline{
    border:dashed;
    border-width: 1px;
}

/* ///////////////////////////////////////////// */
/* Icons and images */
/* ///////////////////////////////////////////// */
#serviceimage1{
    background-image: url("../images/ftp.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#icondesign{
    background-image: url("../images/bluepen.PNG");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-size: 100px 100px;
}

#iconprinting{
    background-image: url("../images/bluepaper.PNG");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-size: 100px 100px;
}

#iconfinishing{
    background-image: url("../images/bluemail.PNG");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-size: 100px 100px;
}

/* ///////////////////////////////////////////// */
/* Responsive */
/* ///////////////////////////////////////////// */
@media all and (max-width: 1200px) {
    .col.three {
        height:650px;
    }
}

@media all and (max-width: 900px) {
    .container > h1:not(.hero) {
        font-size: 4.5em;
    }

    .col.two{
        display: block;
        margin: 1% 1%;
        width: 90%;
        margin-left:5%;
    }

    .col.three {
        display: block;
        margin: 1% 1%;
        height: 440px;
        width: 90%;
        margin-left:5%;
    }
}

@media all and (max-width:450px) {
    .container > h1:not(.hero) {
        font-size: 3em;
    }

     .col, .col.three, .col.two {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }

    .col.three{
        height: 550px;
    }
    
    .section .slider{
        height: 313px;
        background-size: 500px 313px;
    }
}